@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-image: url("./assets/background-image.png");
  color: white;
}

::-webkit-scrollbar {
  width: 6px; 
}

/* TRACK */
::-webkit-scrollbar-track{
  background: rgba(222,222,222, 0.3);
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background-color: white;
  height: 10%;
}