@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background: rgb(242,192,86);
  background: radial-gradient(circle, rgba(242,192,86,1) 13%, rgba(170,161,255,1) 100%);
  color: white;
  font-family: "Manrope-light";
  overflow-y: hidden;
  overflow-x: hidden; 
  scroll-padding-top: 1px;
}


::-webkit-scrollbar {
  width: 2px; 
}

/* TRACK */
::-webkit-scrollbar-track{
  background: rgba(222,222,222, 0.3);
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background-color: white;
  height: 10%;
}

::placeholder {
  color: rgb(255, 255, 255);
}

/* FONTS */
@font-face {
  font-family: 'Pally-Medium';
  src: url('./assets/fonts/Pally-Medium.woff2') format('woff2'),
       url('./assets/fonts/Pally-Medium.woff') format('woff'),
       url('./assets/fonts/Pally-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Manrope-Light';
  src: url('./assets/fonts/Manrope-Light.woff2') format('woff2'),
       url('./assets/fonts/Manrope-Light.woff') format('woff'),
       url('./assets/fonts/Manrope-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'PowerGrotesk';
  src: url('./assets/fonts/PowerGrotesk-Regular.ttf') format('truetype');
}